/**
 * Navigation Styles Master File
 *
 * Imports all navigation-related SCSS partials.
 * Build this file to generate the complete navigation CSS.
 *
 * @package theme_core
 */

// Variables and Branding
@import 'iser-branding';

// Navigation Components
@import 'primary';
@import 'secondary';
@import 'sidebar';
@import 'breadcrumbs';
@import 'mobile';
