<div class="card info-card {{#class}}{{class}}{{/class}} h-100">
    {{#header}}
    <div class="card-header {{#header_class}}{{header_class}}{{/header_class}}">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">
                {{#icon}}<i class="{{icon}} me-2"></i>{{/icon}}
                {{title}}
            </h5>
            {{#actions}}
            <div class="card-actions">
                {{#actions}}
                <button type="button" class="btn btn-sm btn-{{type}}" {{#data-action}}data-action="{{data-action}}"{{/data-action}}>
                    {{#icon}}<i class="{{icon}}"></i>{{/icon}}
                    {{text}}
                </button>
                {{/actions}}
            </div>
            {{/actions}}
        </div>
    </div>
    {{/header}}

    <div class="card-body">
        {{{content}}}

        {{#items}}
        <ul class="list-group list-group-flush">
            {{#items}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{#icon}}<i class="{{icon}} me-2"></i>{{/icon}}
                {{text}}
                {{#badge}}
                <span class="badge bg-{{badge_type}} rounded-pill">{{badge}}</span>
                {{/badge}}
            </li>
            {{/items}}
        </ul>
        {{/items}}
    </div>

    {{#footer}}
    <div class="card-footer {{#footer_class}}{{footer_class}}{{/footer_class}}">
        {{{footer}}}
    </div>
    {{/footer}}
</div>
